/* =========================================================================
   Helpers Responsive
   ========================================================================= */

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 1rem;
    display: none;
  }

  nav ul.open {
    display: flex;
  }

  nav li {
    margin: 0.5rem 0;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu-toggle div {
    width: 25px;
    height: 3px;
    background: var(--color-white);
    margin: 5px 0;
    transition: all 0.3s;
  }
}
