/* =========================================================================
   Layout
   ========================================================================= */

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 0;
}
