@import url('./base/variables.css');
@import url('./base/base.css');
@import url('./layout/layout.css');

/* Composants */
@import url('./components/header.css');
@import url('./components/buttons.css');
@import url('./components/footer.css');
@import url('./components/cards.css');
@import url('./components/modal.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/vip.css');

/* Utilitaires */
@import url('./utilities/animations.css');
@import url('./utilities/responsive.css');
